/* Header */

.header {
    height: 225px;
}
.leftContainer {
    float: left;
}
.rightContainer {
    float: left;
    font-family: 'Rock Salt', cursive;
    padding-top: 7%;
}
.gameContainer {
    font-family: 'Rock Salt', cursive;
    padding-left: 15%;
    padding-right: 15%;
    border: 1pt;
    text-align: center;
    font-size: 18pt;
}
.wordGuess {
    text-align: left;
    font-size: 15pt;
}
.topContent {
    float: right;
}
.bottomContent {
    float: left;
}
